@model IOCforMVC.Web.Models.ProteinTrackingService


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<span>
    @Html.LabelFor(model => model.Total) : @ViewBag.Total
</span>

<span>
    @Html.LabelFor(model => model.Goal) : @ViewBag.Goal
</span>



