<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculatorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CalculatorService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICalculatorService"
                contract="CalculatorService.ICalculatorService" name="BasicHttpBinding_ICalculatorService" />
        </client>
    </system.serviceModel>
</configuration>
