<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Convergys.Assist.Sched.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="TruncateSASchedule" value="true"/>
  </appSettings>
  <userSettings>
    <Convergys.Assist.Sched.Properties.Settings>
      <setting name="RTAConnection" serializeAs="String">
        <value>Password=a55!stm3;Persist Security Info=True;User ID=StreamAssist;Initial Catalog=RTA2;Data Source=SQLEDC23</value>
      </setting>
      <setting name="LogFolderPath" serializeAs="String">
        <value>C:\_logs\</value>
      </setting>
      <setting name="SAConnection" serializeAs="String">
        <value>Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ProdStreamAssist_UpgradeTest;Data Source=.\SQLEXPRESS_CY</value>
      </setting>
    </Convergys.Assist.Sched.Properties.Settings>
  </userSettings>
</configuration>