<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICalculatorService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/CalculatorService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICalculatorService" contract="CalculatorService.ICalculatorService"
                name="WSHttpBinding_ICalculatorService">
                <identity>
                    <userPrincipalName value="Laptop\Cyrus" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>