<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DBCS"
             providerName="System.Data.SqlClient"
             connectionString="Password=F1owsq1!;Persist Security Info=True;User ID=sa;Initial Catalog=Tutorial;Data Source=LAPTOP\FLOW2008R2"
        />
    </connectionStrings>
    <system.serviceModel>
        <services>
            <service name="EmployeeService.EmployeeService" behaviorConfiguration="mexBehaviour">
                <endpoint address="EmployeeService" binding="basicHttpBinding" contract="EmployeeService.IEmployeeService"></endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetBinding="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>