@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pagestyle
{
    <link href="~/Templates/css/pages/dashboard.css" rel="stylesheet">
}

<h1>Welcome to Flow Accounting!</h1>



