<div class="extra">
    <div class="extra-inner">
        <div class="container">
            <div class="row">
                <div class="span3">
                    <h4>
                        About Flow Accounting
                    </h4>
                    <ul>
                        <li><a href="javascript:;">Flow Accounting Demo</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        About Flow Software
                    </h4>
                    <ul>
                        <li><a href="http://http://www.flowsoftware.com/">FlowSoftware.com</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        About Filebound
                    </h4>
                    <ul>
                        <li><a href="http://uplandsoftware.com/filebound/">Filebound by Upland</a></li>
                    </ul>
                </div>
                <!-- /span3 -->
                <div class="span3">
                    <h4>
                        Resources
                    </h4>
                    <ul>
                        <li><a href="javascript:;">Something Legal</a></li>

                    </ul>
                </div>
                <!-- /span3 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /extra-inner -->
</div>
<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> © @DateTime.Now.Year.ToString() <a href="http://http://www.flowsoftware.com/">Powered by Flow Software</a>. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>