@using FlowFB.Web.Infrastructure.HtmlExtensions
@model FlowFB.Web.Models.BaseModel
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <li class="@Html.IsSelected(actions: "Index", controllers: "Home")"><a href="~/Home/Index"><i class="icon-home"></i><span>Index</span> </a> </li>
                <li class="@Html.IsSelected(actions: "Projects", controllers: "Home")"><a href="~/Home/Projects"><i class="icon-archive"></i><span>Projects</span> </a> </li>                
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>