<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<add name="DBCS" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=COURSE_YT_WCF;Data Source=DESKTOP-QOS4LQB\SQLEXPRESS"/>
	</connectionStrings>
    <system.serviceModel>
        <services>
            <service name="EmployeeService.EmployeeService" behaviorConfiguration="mexBehaviour">
                <endpoint address="EmployeeService"
                          binding="basicHttpBinding"
                          contract="EmployeeService.IEmployeeService">
                </endpoint>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8080"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehaviour">
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>