<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="BaseURL" value="http://www.graciebarrawear.com/"/>
        <!--Used only if Executing Assembly location does not  have IE or Chrome Drivers-->
        <add key="IE.Driver.Path" value="C:\Users\Cyrus\Downloads\Installers\Selenium Server\IEDrivers\32"/>
        <add key="CR.Driver.Path" value="C:\Users\Cyrus\Downloads\Installers\Selenium Server\ChromeDriver\32"/>
    </appSettings>
</configuration>