<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <section name="SmtpSettings" type="TicketLoadConsole.Util.SmtpSettings, TicketLoadConsole" />
  </configSections>
  <appSettings>
    <add key="TicketLoadConsole.Log4NetManager.LoggingEnabled" value="true"/>

    <add key="Prog.Test.OverrideToEmail" value="cythecy3@gmail.com"/>
    <add key="Prog.Def.UpdateSource" value="false"/>
    
    <add key="WT.Test.sDate" value="11/20/2015"/>
    
    <add key="WT.AgentSite" value="AMSTERDAM"/>
    <add key="WT.ContractId" value="20966"/>
    <add key="WT.ProcessId" value="DATAEXPRT1"/>
    <add key="WT.DaysAgo" value="4"/><!--E.g. Value of 5 means, Starting date will be 5 days ago. -->

    <add key="ES.ContractId" value="20966"/>
    <add key="ES.ProcessId" value="SURVEY1"/>

    
  </appSettings>
  <connectionStrings>
    <add name="WT" connectionString="Password=manager;User ID=dbo;Data Source=AMNDW001-OEPD.WORLD;Persist Security Info=True"
      providerName="System.Data.OracleClient" />
    <!--DEV-->
    <add name="ES.Dev" connectionString="Password=l3tuskn0w;User ID=SURV;Data Source=C03DWV011-SRVT.WORLD;Persist Security Info=True"
      providerName="System.Data.OracleClient" />
    <!--PROD-->
    <!--<add name="ES.Prod" connectionString="Password=l3tuskn0w;User ID=SURV;Data Source=C03DW001-SURV.WORLD;Persist Security Info=True"
      providerName="System.Data.OracleClient" />--> 
    <add name="TicketLoadConsole.Properties.Settings.TicketLoadConnectionString"
      connectionString="Data Source=|DataDirectory|\TicketLoad.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <SmtpSettings>
    <SmtpConfig 
      SMTPServerAddress="10.132.192.70" 
      SMTPServerPort="25" 
     />
  </SmtpSettings>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="ADONetAppender" />
    </root>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <!--Adjust this to 1 if you want early commit.-->
      <connectionType value="System.Data.SqlServerCe.SqlCeConnection, System.Data.SqlServerCe" />
      <!--DB Dev -->
      <!--<connectionString value="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=ProdStreamAssist;Data Source=.\SQLEXPRESS_CY" />-->
      <!--DB Prod-->
      <connectionString value="Data Source='TicketLoad.sdf'" />
      <!--DB Test-->
      <!--<connectionString value="Password=h3lpm3!;Persist Security Info=True;User ID=streamassisttest_dbo;Initial Catalog=ProdStreamAssist;Data Source=C03DW002" />-->
      <commandText value="INSERT INTO TicketLoad_Log ([DateTime],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@thread" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

  </log4net>
</configuration>