@using Convergys.Assist.Repository.Enums
@model Convergys.Assist.WebUI.Models.BaseModel
<ul class="nav navbar-nav side-nav">
    <li><a href="~/Callback/Create"><i class="fa fa-phone"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkCallbackNew</a></li>
    <li><a href="~/Offline/Create"><i class="fa fa-pencil"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkOfflineNew</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-phone-square"></i>&nbsp;@Resources.Content._WidgetLeftMenu_ddCallback<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/Callback/Create"><i class="fa fa-plus"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkCallbackCreate</a></li>
            <li><a href="~/Callback/Search"><i class="fa fa-search"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkCallbackSearch</a></li>
            @if (@Model.LoggedOnEmployee.RoleId.GetValueOrDefault() >= Enum_Roles.TeamAdmin.GetHashCode())
            {
                <li><a href="~/Callback/Settings"><i class="fa fa-cogs"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkCallbackSettings</a></li>
            }
        </ul>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-pencil-square"></i>&nbsp;@Resources.Content._WidgetLeftMenu_ddOffline<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="~/Offline/Create"><i class="fa fa-plus"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkOfflineCreate</a></li>
            <li><a href="~/Offline/Search"><i class="fa fa-search"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkOfflineSearch</a></li>
            @if (@Model.LoggedOnEmployee.RoleId.GetValueOrDefault() >= Enum_Roles.TeamAdmin.GetHashCode())
            {
                <li><a href="~/Offline/Settings"><i class="fa fa-cogs"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkOfflineSettings</a></li>
            }
        </ul>
    </li>
    @if (@Model.LoggedOnEmployee.RoleId.GetValueOrDefault() >= Enum_Roles.ReportAdmin.GetHashCode())
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bar-chart-o"></i>&nbsp;@Resources.Content._WidgetLeftMenu_ddReports<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-phone"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkReportsCallback</a></li>
                <li><a href="#"><i class="fa fa-pencil"></i>&nbsp;@Resources.Content._WidgetLeftMenu_lnkReportsOffline</a></li>
            </ul>
        </li>
    }

</ul>

