<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="FlowFB.Logging.Log4NetManager.LoggingEnabled" value="true"/>
  
  <!--Project IDs-->
  <add key="ProjectID.APInvoice" value="1"/>
  <add key="ProjectID.GLCodes" value="9"/>
  <add key="ProjectID.CostCenter" value="11"/>
  <add key="ProjectID.TaxCodes" value="10"/>
</appSettings>