@model FlowFB.Web.Models.CodesModel

@{
    ViewBag.Title = "GL";
}

<h2>Cost Center</h2>
<div class="span12">
    <div class="widget">
        <div class="widget widget-table action-table">
            <div class="widget-header">
                <i class="icon-th-list"></i>
                <h3>Cost Center Codes</h3>
                <button class="btn btn-primary" id="btnSaveCodes">Save</button>
            </div>
            <!-- /widget-header -->
            <input type="hidden" id="SaveCodesUrl" value='@Url.Action("SaveCostCenterCodes", "Codes")' />
            <div class="widget-content">

                <table class="table table-striped" style="cursor: pointer;" id="GLTable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Code</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var code in Model.FACodes)
                        {
                            <tr>
                                <td><input type="text" class="span1 disabled ID" disabled value="@code.Id"></td>
                                <td>
                                    <input type="text" class="span4 Code" value="@code.Code">
                                </td>
                                <td><input type="text" class="span6 Description" value="@code.Description"></td>
                                <td>
                                    <button class="btn btn-success btn-add" type="button">
                                        <i class="icon-plus-sign"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                        @if (Model.FACodes.Count() < 1)
                        {
                            <tr>
                                <td><input type="text" class="span1 disabled ID" disabled></td>
                                <td>
                                    <input type="text" class="span4 Code">
                                </td>
                                <td><input type="text" class="span6 Description" /></td>
                                <td>
                                    <button class="btn btn-success btn-add" type="button">
                                        <i class="icon-plus-sign"></i>
                                    </button>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div> <!-- /widget-content -->
        </div>
    </div> <!-- /widget-content -->
</div> <!-- /widget -->
@section scripts
{
    <script src="~/Templates/js/edit-table/edit-table.js" type="text/javascript"></script>
    <script src="~/Scripts/Custom/Codes/Codes.js" type="text/javascript"></script>
}