@model IEnumerable<Messageboards.Web.Data.Topic>
@{
    ViewBag.Title = "Home Page";
    ViewBag.InitModule = "homeIndex";
}
@section Scripts{
    <script type="text/javascript" src="~/js/home-index.min.js"></script>
}


<div ng-view=""></div>

<div class="servReplies">
    @foreach (var topic in Model)
    {
        <div>@topic.Title</div>
        <div>-- @topic.Body</div>
    }
</div>