<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://onlineavl2svc-nz.navmanwireless.com/OnlineAVL/API/V1.6/Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="NavmanService.ServiceSoap" name="ServiceSoap" />
        </client>
    </system.serviceModel>


    <system.diagnostics>
        <trace autoflush="true"/>
        <sources>
            <source name="System.Net" maxdatasize="3000">
                <listeners>
                    <add name="TraceFile"/>
                </listeners>
            </source>
            <source name="System.Net.Sockets" maxdatasize="3000">
                <listeners>
                    <add name="TraceFile"/>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener"
              initializeData="trace.log"/>
        </sharedListeners>
        <switches>
            <add name="System.Net" value="Verbose"/>
            <add name="System.Net.Sockets" value="Verbose"/>
        </switches>
    </system.diagnostics>


</configuration>