<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HelloWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:45279/HelloWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="HelloWebServiceSoap"
                contract="HelloWebService.HelloWebServiceSoap" name="HelloWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
